@import "tailwindcss";

:root {
  --background: #F9F7F2;
  --foreground: #171717;
  --indigo: #0B132B;
  --terracotta: #BC4749;
  --gold: #CEA964;
  --bone: #F9F7F2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-indigo: var(--indigo);
  --color-terracotta: var(--terracotta);
  --color-gold: var(--gold);
  --color-bone: var(--bone);
  --font-sans: var(--font-ibm-plex-sans);
  --font-mono: var(--font-ibm-plex-mono);
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
}
